body {
    padding:0;
    margin:0;
    background-color:rgb(255, 20, 20);
}

nav {
    margin:0px;
    padding:0px;
}

#mainName :hover { 
    font-weight: bolder;
    color: crimson;
}

.social-icon  {
    font-size:x-large;
}

.social-icon :hover {
    font-size: xx-large;
    color:rgb(36, 174, 199);
}

